@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

.calculator {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0eedfd7;
 
  border-radius: 7px;
  box-shadow: 0 2px 4px rgb(255, 255, 255);

}
.logoImg img{
  height: 10vh;
  justify-items: center;
  margin: auto;
}
.logoImg{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 2rem;
  }
body{
  background-image: url(./bg.jpg);
  background-size: cover;
}
.App{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

form button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #0a0ef5;
  opacity: 90%;
  color: #fff;
  cursor: pointer;
}
form button:hover {
  background-color: #080969;
  transition: 1.5s;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.65rem;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  outline: none;
}

table th {
  background-color: #0a0ef5;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr td:nth-child(odd) {
  font-weight: bold;
}
table tr td{
  font-size: 1rem;
  cursor: pointer;
}
table tr td:last-child:hover{
  color: #e1b70d;
}
.del:hover{
  color: #e1b70d;
 
}
.del{
  cursor: pointer;
  display: inline;
}
.cgpa {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.cgpa p {
  margin-bottom: 10px;
}
@media (max-width:700px) {
  h1{
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .formtext{
    font-size: 1rem;
    font-family: monospace;
  }
}